<div class="quien-soy-container">
    <div class="quien-soy-box">
      <div class="grid-quien-soy">
  
        <!-- Columna izquierda: imagen -->
        <div class="columna-imagen">
          <img src="assets/perfil.jpg" alt="Foto de perfil" class="imagen-perfil">
        </div>
  
        <!-- Columna derecha: contenido -->
        <div class="columna-info">
          <h2>Iván Becerra</h2>
          <p>
            Soy alumno de la utn cursando las ultimas materias de la carrera Tecnicatura Universitaria en Programacion
            actualmente me encuentro trabajando mediante una pasantia brindada por la Utn 
          </p>
  
          <h3>Mi juego creado: Agilidad mental</h3>
          <p>
            Se trata de un juego donde se debe manejar una rapidez de calculos simples, como por ejemplo sumas, multiplicacion y division
            en un lapso de tiempo (30seg) se debe acertar los calculos posibles obtener el mayor puntaje 
            y poder quedar en el ranking de los mejores jugadores.
          </p>
        </div>
  
      </div>
    </div>
  </div>
  