<!-- <mat-toolbar class="navbar-game" >
  <span>Sala de Juegos</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="usuario" (click)="navegarA('/quien-soy')">Quien soy?</button>
  <button mat-button *ngIf="usuario" (click)="navegarA('/encuesta')">Encuesta</button>
  <button mat-button *ngIf="usuario" (click)="navegarA('/chat')">Chat ONLINE</button>

  <button mat-button *ngIf="usuarioEncontrado" (click)="cerrarSesion()">Cerrar Sesión</button>

  <button mat-button *ngIf="usuarioEncontrado == null" (click)="navegarA('/registro')">Registrarse</button>
  <button mat-button *ngIf="usuarioEncontrado == null" (click)="navegarA('/iniciar-sesion')">Iniciar sesion</button>
</mat-toolbar>!-->
<app-navbar></app-navbar>


<div class="main-container">
  <div class="game-area">

    <ngb-carousel *ngIf="imagenes.length > 0 && this.mostrarCarrusel()" [interval]="3000" [pauseOnHover]="true">
      <ng-template ngbSlide *ngFor="let img of imagenes; let i = index" id="{{i}}">
        <div class="slide-content" (click)="jugar(img.ruta)" style="cursor: pointer;">
          <img [src]="img.src" alt="Imagen {{i + 1}}">
          <div class="juego-titulo">Haz clic para jugar</div>
        </div>
      </ng-template>
    </ngb-carousel>
    
    <app-cerrar-juego *ngIf="mostrarCerrarJuego()"></app-cerrar-juego>
     <br>
    <router-outlet></router-outlet>
  </div>

</div>
