<div class="container mt-4 text-center text-white" *ngIf="!juegoFinalizado; else finalizado">
  <h2>Agilidad mental</h2>
  <p><strong>Tiempo restante:</strong> {{ tiempoRestante }} segundos</p>
  <p><strong>Puntos:</strong> {{ puntos }}</p>

  <div class="mb-3">
    <h3>{{ numero1 }} {{ operador }} {{ numero2 }} = ?</h3>

    <div class="d-flex justify-content-center gap-3 mt-4">
      <button [disabled]="this.bloqueado" class="btn btn-outline-light" *ngFor="let opcion of opciones" (click)="verificarRespuesta(opcion)">
        {{ opcion }}
      </button>
    </div>
    
    <h3 class="mt-3 text-danger" *ngIf="mensajeError">{{ mensajeError }}</h3>

  </div>
</div>

<ng-template #finalizado>
  <div class="text-center mt-5 text-white">
    <h2 class="text-white">Se acabó tu tiempo, tu mayor puntaje es</h2>
    <h1>{{ puntos }}</h1>
    <button class="btn btn-success" (click)="reiniciarJuego()">Jugar de nuevo</button>
  </div>
</ng-template>
