<app-navbar></app-navbar>
<form [formGroup]="formularioEncuesta" (ngSubmit)="enviarEncuesta()" class="formulario-encuesta">
  <h3>Datos personales</h3>
  <div class="grid-formulario">
    <div class="columna">
      <label>Nombre y Apellido:</label>
      <input type="text" formControlName="nombre" placeholder="Ingresa tu nombre y apellido" />
      <div class="letter" *ngIf="formularioEncuesta.get('nombre')?.invalid && formularioEncuesta.get('nombre')?.touched">
        Campo requerido.
      </div>

      <label>Edad:</label>
      <input type="number" formControlName="edad" placeholder="Ingresa tu edad" />
      <div class="letter"  *ngIf="formularioEncuesta.get('edad')?.invalid && formularioEncuesta.get('edad')?.touched">
        Edad invalida (18-99).
      </div>

      <label>Teléfono:</label>
      <input type="text" formControlName="telefono" placeholder="Ingresa tu número de teléfono" />
      <div class="letter" *ngIf="formularioEncuesta.get('telefono')?.invalid && formularioEncuesta.get('telefono')?.touched">
        Solo numeros, hasta 10 caracteres.
      </div>
    </div>

    <div class="columna">
      <h3>Encuesta</h3>

      <label>Te gustaria volver a jugar esta app en el futuro?</label><br />
      <label><input type="radio" value="Sí, definitivamente" formControlName="jugarFuturo" /> Si, definitivamente</label><br />
      <label><input type="radio" value="Tal vez" formControlName="jugarFuturo" /> Tal vez</label><br />
      <label><input type="radio" value="No" formControlName="jugarFuturo" /> No</label><br />

      <label>Que juego te parecio mas difícil?</label>
      <select formControlName="juegoDificil">
        <option value="Ahorcado">Ahorcado</option>
        <option value="Mayor o Menor">Mayor o Menor</option>
        <option value="Preguntados">Preguntados</option>
        <option value="Matemáticas">Matematicas</option>
      </select>

      <label>Recomendarias esta app a otras personas?</label><br />
      <label><input type="checkbox" [checked]="this.checkBox == true" (click)="this.seleccionarCheckbox(true)"/> Si</label>
      <label><input type="checkbox" [checked]="this.checkBox == false" (click)="this.seleccionarCheckbox(false)"/> No</label>
    </div>
  </div>

  <button type="submit" [disabled]="formularioEncuesta.invalid">Enviar encuesta</button>
</form>
