.ahorcado-img {
    width: 100px;  
    height: auto;
    max-width: 100%;
  }
  .contenedor-ahorcado {
    padding: 0px;
    border-radius: 20px;
  }
  
  .boton-letra {
    margin: 4px;
    width: 30px;
    height: 30px;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
  }