<app-navbar></app-navbar>
<!-- chat.component.html -->
<div class="chat-container">
  <div class="chat-box">
    <div #messagesContainer class="messages">
     <div *ngFor="let msg of mensajes" 
          [ngClass]="{'message': true, 'own-message': msg.usuario.CORREO === usuario!.CORREO}">
        <div class="message-header" >
          <span class="user" *ngIf="msg.usuario.CORREO !== usuario!.CORREO">{{ msg.usuario.CORREO }}</span>
          <small class="timestamp">{{ msg.fecha | date: 'medium' }}</small>
        </div>
        <p class="message-body">{{ msg.mensaje }}</p>
      </div>
    </div>

    <div class="message-input">
      <textarea [(ngModel)]="mensaje" placeholder="Escribe tu mensaje"  (keydown.enter)="enviarMensaje(); $event.preventDefault()"></textarea>
      <button (click)="enviarMensaje()" [disabled]="!mensaje.trim()" >Enviar</button>
    </div>
  </div>
</div>
