img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      width: 200px;   
      height: auto;  
      max-width: 100%; 
  }
  
  button {
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  

  .container{
    
    padding: 0px;
    border-radius: 20px;
  }